.App-logo ul li{
  background: #7F8688;
  color: #F3E367;
}

.App-login ul li{
  background: #F3E367;
}

.App-header{
  background: #929D9E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  list-style-type: none;
  display: flex;
}

li{
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  border: 10px;
  border-radius: 10px;
  background: #F3E367;
  color: #2E9CCA;
}

.App-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 20px;
  padding: 10px;
  color: #FEFEFE;
  
}

.flex-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fefefe;
  background: #7F8688;
}

.App-details>button{
  width: 100px;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  border: 10px;
  background: #F3E367;
  border-radius: 20px;
  font-size: 1em;
  color: #2E9CCA;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
